.title {
	text-align: center;
}
.title a {
	text-decoration: none;
}
.btns {
	margin: 10% auto;
	text-align: center;
}
.btns div {
	display: inline-flex;
	border: 3px solid;
	width: 200px;
	height: 250px;
}
